@use './variables' as *;

footer{
    //background-color: violet;

    .bg_footer{
        background-image: url('../img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    a{
        color: $link;
        font-size: 0.9rem;
        text-decoration: none;

        &:hover{
            color: white;
        }
    }
    .right img{
        margin-top: -5rem;
        margin-bottom: -4rem;
        //margin-bottom: -5rem;
        z-index: -1;
        //position: absolute;
    }
    .bottom{
        background-color: $bottomDark;
    }
    .buttonz{
        border: 3px solid $showColor;
        padding: 1rem;
        //background-color: gray;
    }
}