@use './variables' as *;

header{
    //background-color: green;
    .logo img{
        width: 90px;
    }
    a{
        font-size: 0.8rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $bottomDark;
        padding: 1rem;
        padding-top: 2.5rem;

        &.active{
            color: $showColor;
            border-bottom: 7px solid $showColor;
        }
    }
}