header{
    //background-color: green;
    .logo img{
        width: 90px;
    }
    a{
        font-size: 0.8rem;
        text-transform: uppercase;
        text-decoration: none;
        color: black;

        &.active{
            color: blueviolet;
            border-bottom: 2px solid blueviolet;
        }
    }
}